{{#if user.isAdmin}}
    <h1>{{user.name}} is admin</h1>
    {{#each datos}}
      <ul>
         <li>
            id: {{this.id}}
         </li>
         <li>
            name: {{this.name}}
         </li>
         <li>
            last_name: {{this.last_name}}
         </li>
         <li>
            direction: {{this.direction}}
         </li>
      </ul>
    {{/each}}
{{else}}
    <h1>{{user.name}} is user</h1>
{{/if}}